@import '../../assets/scss/_variables.scss';
.button{
    cursor: pointer;
    background: $color-5;
    color:  white;
    border: none;
    outline: none;
    margin: 0 1rem;
    padding: 2rem;

    &:hover{
        background: $color-1;
    }
}

.active{
    opacity: 1;
    background: $color-1;
}


