
html{
  font-size: 62.5%;
  box-sizing: border-box;
  
 
  
}
body {
  margin: 0;
  font-family: 'Roboto Slab', serif, "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  
}


@media only screen and (max-width: 100em){  /*1600 px */
    html{
      font-size: 50%;
    }
}
@media only screen and (max-width: 75em){ /*1200 px */
  html{
    font-size: 45%;
  }
}
@media only screen and (max-width: 56.25em){ /*900 px */
  html{
    font-size: 40%;
  }
}
@media only screen and (max-width: 37.5em){ /*600 px */
  html{
    font-size: 35%;
  }
}