@import '../../assets/scss/_variables.scss';
.image-list{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-template-rows: repeat(3, 40rem);
    grid-gap: 5rem 1rem ;
}